Subject: Password Reset Request

Dear {{name}},

We received a request to reset the password for your account ({{email}}).

Click the link below to reset your password (expires in {{expiryMinutes}} minutes):
{{resetUrl}}

If you did not request this, please ignore this email.

Best regards,
The Team
