Subject: Welcome to our platform, {{name}}!

Dear {{name}},

Welcome! Your account has been created with the email address: {{email}}.

To get started, please visit: {{actionUrl}}

Best regards,
The Team
